:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input {
    @apply border rounded-xl shadow mx-auto h-12 px-6 container ;
  }

}